<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIServicioAgente"/>
        <binding name="BasicHttpBinding_IIServicioCliente"/>
        <binding name="BasicHttpBinding_IIServicioAutos"/>
        <binding name="BasicHttpBinding_IIServicioGerente"/>
        <binding name="BasicHttpBinding_IIServicioPedidos"/>
        <binding name="BasicHttpBinding_IIServicioProveedores"/>
        <binding name="BasicHttpBinding_IIServicIoVenta"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63255/IServicioAgente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioAgente" contract="ServicioAgente.IIServicioAgente" name="BasicHttpBinding_IIServicioAgente"/>
      <endpoint address="http://localhost:63255/IServicioCliente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioCliente" contract="ReferecniaServicioCliente.IIServicioCliente" name="BasicHttpBinding_IIServicioCliente"/>
      <endpoint address="http://localhost:63255/IServicioAutos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioAutos" contract="ReferenciaServicioAuto.IIServicioAutos" name="BasicHttpBinding_IIServicioAutos"/>
      <endpoint address="http://localhost:63255/IServicioGerente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioGerente" contract="ReferenciaServicioGerente.IIServicioGerente" name="BasicHttpBinding_IIServicioGerente"/>
      <endpoint address="http://localhost:63255/IServicioPedidos.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioPedidos" contract="ReferenciaServicioPedidos.IIServicioPedidos" name="BasicHttpBinding_IIServicioPedidos"/>
      <endpoint address="http://localhost:63255/IServicioProveedores.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicioProveedores" contract="ReferenciaServicioProveedores.IIServicioProveedores" name="BasicHttpBinding_IIServicioProveedores"/>
      <endpoint address="http://localhost:63255/IServicIoVenta.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIServicIoVenta" contract="ReferenciaServicioVenta.IIServicIoVenta" name="BasicHttpBinding_IIServicIoVenta"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="PROYECTONEXUSEntities" connectionString="metadata=res://*/Models.ProyectoNexus.csdl|res://*/Models.ProyectoNexus.ssdl|res://*/Models.ProyectoNexus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PROYECTONEXUS;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PROYECTONEXUSEntities1" connectionString="metadata=res://*/Models.PROYECTONEXUS.csdl|res://*/Models.PROYECTONEXUS.ssdl|res://*/Models.PROYECTONEXUS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PROYECTONEXUS;persist security info=True;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PROYECTONEXUSGXEntities" connectionString="metadata=res://*/Models.PROYECTONEXUSGX.csdl|res://*/Models.PROYECTONEXUSGX.ssdl|res://*/Models.PROYECTONEXUSGX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PROYECTONEXUSGX;persist security info=True;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="PROYECTONEXUSEntities2" connectionString="metadata=res://*/Models.ProyectoNexus.csdl|res://*/Models.ProyectoNexus.ssdl|res://*/Models.ProyectoNexus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VD3A598;initial catalog=PROYECTONEXUS;user id=sa;password=sql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>