
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReporteGerente</title>
</head>
<body>
    <div> Descargando Reporte de Gerente
    </div>
</body>
</html>
